@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque:300,400,500,600,700,800,900&display=swap');

body {
  font-family: 'Darker Grotesque', sans-serif;
}

a.logo {
  font-size: 30px;
  color: #000;
  font-weight: 800;
}

.mainmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mainmenu li {
  display: inline-block;
}

.mainmenu li a {
  display: block;
  color: #000;
  text-transform: uppercase;
  padding: 12px;
  position: relative;
}

body {
  font-size: 18px;
}

.mainmenu li a:hover:after {
  position: absolute;
  left: 50%;
  bottom: 6px;
  height: 2px;
  background: #000;
  content: "";
  width: 30px;
  margin-left: -15px;
}

a:hover {
  text-decoration: none;
}

input[type=text] {
  border: 1px solid #ddd;
  padding: 5px 20px;
}

input[type=submit] {
  background: #000;
  color: #fff;
  border: none;
  padding: 6px 25px;
}

header.header {
  padding: 20px 0;
}

input:focus {
  outline: none;
}

img {
  max-width: 100%;
}

.content-block {
  padding: 50px 0;
}

h2 {
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
}

.single-photo-item h5 {
  text-transform: uppercase;
  margin-bottom: 0px;
}

.single-photo-item a {
  color: #333;
}

p.cat-name {
  opacity: .5;
  font-size: 90%;
}

.footer-menu a {
  color: #333;
  text-transform: uppercase;
  padding: 15px;
  display: inline-block;
}

.footer-menu li {
  display: inline-block;
}

.footer-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu {
  margin-top: 30px;
  margin-bottom: 100px;
}

.copyright-text {
  margin-bottom: 30px;
}

.photo-wrapper {
  height: 190px;
  margin-bottom: 15px;
}

.photo-wrapper img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.single-photo-item {
  margin-bottom: 40px;
}